<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>  <!-- NOTE ilker changed from "ISO-8859-1" -->
<!--
<script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
-->
<script type="text/javascript" 
		src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
		th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script type="text/javascript"
		src="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js" 
		th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	  href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" 
	  th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />

<script type="text/javascript"
		src="../static/js/studentList.js" 
		th:src="@{/js/studentList.js}"></script>

<title>List of Students</title>
</head>
<body>
	<div class="container">
		<button class="btn btn-success nBtn">New</button>
		<div class="card">
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Student ID</th>
							<th>Name</th>
							<th>Lastname</th>
							<th>Grade</th>
							<th>Age</th>
							<th>IsFullTime</th>
							<th>UpdatedOn</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="student :${studentsData.content}">
							<td th:text="${student.studentId}"></td>
							<td th:text="${student.name}"></td>
							<td th:text="${student.lastname}"></td>
							<td th:text="${student.grade}"></td>
							<td th:text="${student.age}"></td>
							<td th:text="${student.isFullTime}"></td>
							<td th:text="${student.updatedOn}"></td>
							<!-- NOTE ilker th:href="@{detail}" is relative path, equivalent to th:href="@{/mvc/student/detail}" -->
							<td>
								<a th:href="@{/mvc/student/detail/(studentId=${student.studentId})}" class="btn btn-primary eBtn">Edit</a>
								<a th:href="@{/mvc/student/delete/(studentId=${student.studentId})}" class="btn btn-danger dBtn">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>			
				<hr/>
				<ul class="nav nav-pills">
					<li class="nav-item" th:each="i : ${#numbers.sequence(0,studentsData.totalPages-1)}">
						<a th:text="${i}" th:href="@{/mvc/student/list(page=${i})}" class="nav-link" th:classappend="${currentPage}==${i}?'active':''"></a>
					</li>
				</ul>
			</div>
		</div>
	
	<!-- NOTE ilker BEF Bootstrap form to edit -->
	<div class="myForm">
        <form th:action="@{/mvc/student/save}" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update/Create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="studentId" class="col-form-label">StudentId:</label>
            <input type="text" class="form-control" id="studentId" name="studentId" value=""/>
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value=""/>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-form-label">Lastname:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value=""/>
          </div>
          <div class="form-group">
            <label for="grade" class="col-form-label">Grade:</label>
            <input type="text" class="form-control" id="grade" name="grade" value=""/>
          </div>
          <div class="form-group">
            <label for="age" class="col-form-label">Age:</label>
            <input type="text" class="form-control" id="age" name="age" value=""/>
          </div>
          <div class="form-group">
            <label for="isFullTime" class="col-form-label">IsFullTime:</label>
            <input type="text" class="form-control" id="isFullTime" name="isFullTime" value=""/>
          </div>
          <div class="form-group">
            <label for="updatedOn" class="col-form-label">UpdatedOn:</label>
            <input type="date" class="form-control" id="updatedOn" name="updatedOn" value=""/>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="save"/>
      </div>
    </div>
  </div>
</div>	
        </form>
	</div>
	
	<!-- Modal for delete -->
<div class="modal fade" id="exampleModal4delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p class="alert alert-danger">
      	    ilker, really want to delete?
      	</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" class="btn btn-danger" id="dConfBtn">Delete</a>
      </div>
    </div>
  </div>
</div>
	
	</div>
</body>
</html>